* {
	font-family: "Quicksand", sans-serif;
}

.city h1 {
	font-size: 4.5em;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 0.05em;
}

.city {
	margin: 50px auto 15px;
}

.container {
	text-align: center;
	background-color: rgb(103, 201, 168);
}

.current-location {
	margin: 20px auto;
}

.current-weather {
	height: 350px;
	width: 350px;
	margin: 20px auto 40px;
	background-color: rgb(22, 18, 55);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.daily-weather {
	margin-bottom: 40px;
}

.footer {
	padding-bottom: 40px;
}

.forecast-day {
	text-align: center;
}

.forecast-icon {
	width: 90%;
}

.icon {
	font-size: 3em;
	color: white;
}

.input-group {
	width: 60%;
	margin: 0 auto;
}

/* .temp {
  background: radial-gradient(
      ellipse at center,
      rgb(255, 255, 255, .6) 0%,
      rgb(255, 255, 255, .6) 70%,
      rgba(0, 128, 172, 0) 70.3%
    );
    height: 100%;
    width: 100%;
} */

.temp {
	color: white;
	font-size: 6em;
	margin: 0;
	padding: 0;
	line-height: 1em;
}

.time {
	margin-bottom: 50px;
}

.time h2 {
	font-size: 1.5em;
	font-weight: 300;
	letter-spacing: 0.05em;
}

.weather-app {
	text-align: center;
	max-width: 800px;
	margin: 0 auto;
	padding: 5%;
}

#search-input {
	background-color: white;
	border: 1px solid white;
}

#search-button {
	background-color: white;
	border: 1px solid white;
}

#weather-description {
	text-transform: capitalize;
}
